<div  id="header-wrapper">
    <div class="row">
        <div class="col-4">
            <a routerLink="/home"><img src="https://freelogo-assets.s3.amazonaws.com/sites/all/themes/freelogoservices/images/domain_logos/FLS-Logo-On-Site_en.png" alt="" class="align-4 max-width-100 " width=""></a>
        </div>
        <div class="col-6">
            <div class="row">
                
                <div class="col-6">
                   <ul class="nav">
                       <li><a routerLink="/home"> Home </a></li>
                       <li><a routerLink="/products"> Products</a></li>
                       <li><a routerLink="/contact-us"> Contact Us</a></li>
                   </ul>
                </div>
                <div class="col-2">
                    <div id="cart-detail-wrapper">
                            <i id="cart-icon" class="fa fa-shopping-cart" aria-hidden="true" routerLink="/cart">
                                <!-- <span id="product-count" *ngIf="productCount > 0">{{productCount}}</span> -->
                            </i>
                        </div>      
                </div>
            </div>
        </div>
    </div>
</div>